<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Форма контакту</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'contacts/style.css' %}">
</head>

<body class="bg-light">

<div class="card">

    <h1>{{ contact.id|default:"Додати новий контакт" }}</h1>

    <form method="POST">
        {% csrf_token %}

        <label>ПІБ:</label>
        <input type="text" name="full_name" class="form-input"
               value="{{ contact.full_name }}">

        <label>Телефон:</label>
        <input type="text" name="phone_number" class="form-input"
               value="{{ contact.phone_number }}">

        <label>Email:</label>
        <input type="email" name="email" class="form-input"
               value="{{ contact.email }}">

        <label>Примітка:</label>
        <textarea name="note" class="form-input">{{ contact.note }}</textarea>

        <button type="submit" class="save-btn">
            💾 Зберегти
        </button>
    </form>

    <br>
    <a class="back-btn" href="{% url 'contact_list' %}">⬅ Назад</a>

</div>

</body>
</html>
